a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: purple;
  text-shadow: darkviolet 3px 3px 3px;
  -webkit-text-stroke: purple 1px;
}

body {
  background-color: #280137;
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-evenly;
  font-family: "Segoe UI", "Open Sans";
  color: white;
  text-shadow: purple 3px 3px 3px;
  -webkit-text-stroke: white 1px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 15px;
}
h3 {
  font-size: 15px;
}

.vbgbild {
  position: relative;
  width: 100%;
  filter: opacity(0.5);
}

.bildbox {
  display: flex;
  filter: blur(2px);
}

.indextext1 {
  margin-top: 10%;
  color: white;
  font-family: "Segoe UI", "Open Sans";
  font-size: 56px;
  width: 75%;
  text-shadow: black 10px 10px 10px;
  -webkit-text-stroke: white 6px;
}

footer {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", "Open Sans";
  color: white;
  text-shadow: red 3px 3px 3px;
  -webkit-text-stroke: white 2px;
  margin-top: 2%;
  margin-bottom: 40px;
}

.imgtext {
  margin-top: 2%;
  display: flex;
  position: absolute;
  justify-content: center;
}

.mainindex {
  display: flex;
  justify-content: center;
}

p {
  font-family: "Segoe UI", "Open Sans";
  color: white;
  -webkit-text-stroke: white 3px;
  font-size: 30px;
  width: 45%;
}
